# Root
.DS_Store
.env
*.env
.env.local
*.db
*.tsbuildinfo
node_modules/
/data/historical-basemaps/

# Client
/client/node_modules/
/client/dist/
/client/.env
/client/.env.local

# Server
/server/node_modules/
/server/dist/
/server/data.db
/server/.env
